
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .AboutMeSection {
        width: 100%;
    }

    .AboutMeTitle {
        font-family: "Serif";
        font-style: italic;
        font-weight: 100;
        color: white;
        font-size: 30vh;

    }

    .MeTextContainer {
        background-color: #3b4838;
        color: #f3e6d8;
        padding: 7vh;
        width: 38vw;
        border-bottom-left-radius: 15vh;
        border-top-right-radius: 15vh;
    }

    .MeText {
        font-size: 2.5vh;
    }
}


@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .AboutMeTitle {
        font-size: 15vh;
    }

    .MeTextContainer {
        height: auto;
        width: 100vw;
    }

    .MePhoto {
        width: 100vw !important;
    }
}