.cardWorkContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;


    .cardWork {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 500px;
        width: 1000px;
        border-radius: 25px;
        padding: 50px;
        transform-origin: top;
        transition: all 0.8s ease;
    }

    .cardWork:hover{
        transition: all 0.8s ease;
        filter: brightness(60%);
    }
    .imgCardWork {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;

        .inner {
            width: 100%;
            height: 100%;


            img {
                object-fit: cover;

            }



        }
    }

}




