.FontSection {
    font-family: "Kaisei Decol";
}

.pInFooter {
    font-size: 3vh;
}

.IfYouAreText{
    font-size: 4vh;
}

.IconsRow {
    display: inline;
    height: 3vh;
    margin: 1vh;
}

.Link {
    font-size: 4vh;
    display: flex;
    align-items: center;
}

.LinkMiniRow {
    margin: 0 1vw;
}

.IconLink {
    height: 4vh;
    width: 4vh;
    margin-right: 0.5vw;
}

@media (max-width: 1023px) and (min-width: 786px) {
    .IfYouAreText, .pInFooter, .Link {
        font-size: 2vh;
        text-align: center !important;
    }
}

@media (max-width: 600px) {
    .IfYouAreText{
        text-align: center !important;
        font-size: 2vh;
        width: 100vw;
        margin-bottom: 2vh;

    }

    .pInFooter{
        font-size: 2vh;
    }

    .LinkMiniRow {
        margin: 0.5vh 0; /* Adjust margin for smaller screens */
    }
    .Link {
        flex-direction: column; /* Stack icon and text vertically on small screens */
        align-items: center;
        font-size: 2vh;
    }
    .IconLink {
        margin-right: 0;
        margin-bottom: 0.5vh; /* Add bottom margin for spacing on small screens */
    }
}
