.fontInFooter {
    font-family: "Kaisei Decol";
}

.pInFooter {
    font-size: 3vh;
}

.IconsRow {
    display: inline;
    width: auto;
    height: 3vh;
    margin: 1vh;
}

.Link {
    font-size: 4vh;
    display: flex;
    align-items: center;
}

.LinkMiniRow {
    margin: 0 1vw;
}

.IconLink {
    height: 4vh;
    width: 4vh;
    margin-right: 0.5vw;
}

@media (max-width: 800px) {
    .LinkMiniRow {
        margin: 0.5vh 0; /* Adjust margin for smaller screens */
    }
    .Link {
        flex-direction: column; /* Stack icon and text vertically on small screens */
        align-items: center;
    }
    .IconLink {
        margin-right: 0;
        margin-bottom: 0.5vh; /* Add bottom margin for spacing on small screens */
    }
}
