.FronteEndWelcome {
    color: #f8ebd2;
}

.FrontEndTitle {
    font-size: 50vh;
    font-family: "Poppins";
    font-weight: lighter;;
    color: #7b5e43;
}


.HorizontalLine {
    border: 1px solid #D9D9D9;
    margin-left: 25vw;
    margin-bottom: 5vh;
    width: 50vw;
}

.firstSection {
    background-color: #FBF4EA;
}

.AboutMeTitle {
    font-family: "Italiana";
    color: #222C17;
    font-size: 25vh;
}

.MePhoto {
    height: 90vh;
    border-top-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    @media (min-width: 1000px ) {
        margin-left: 20vw;
        margin-top: -30vh;
    }
}

.MeTextContainer {
    background-color: #222C17;
    color: #FBF4EA;
    padding: 8vh;
    width: 38vw;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-top-right-radius: 5vh;
}

.MeText {
    font-size: 3vh;
}

.FontRobotoBold {
    font-family: "Roboto bold";
}

.FontRoboto {
    font-family: Roboto;
}

.FontKaisei {
    font-family: "Kaisei Decol";
}

.FontEmbed {
    font-family: "Radio Canada Big", sans-serif;
}


.WhyMeTitle {
    font-size: 22vh;
    color: #7b5e43;
    font-family: "Raleway", sans-serif;
}

.MiniTitleWhyMe {
    font-size: 9vh;
    color: darkgoldenrod;
    font-family: Italiana;
    margin-top: 5vh;
}

.paragraphWhyMe {
    font-size: 4vh;
    font-weight: bold;
    color: #7b5e43;
    margin-top: 2vh;
    will-change: opacity, transform;
    overflow-wrap: break-word !important;
    word-break: keep-all !important;
}


@media (max-width: 800px) {

    .AboutMeTitle {
        font-size: 15vh;

    }

    .FrontEndTitle {
        font-size: 8vh;
        padding: 2vh;
    }

    .MeTextContainer {
        height: auto;
        width: 100vw;
    }

    .MePhoto {
        width: 100vw !important;
    }

    .WhyMeTitle {
        width: 100vw;
        font-size: 10vh;
    }
}

