.HorizontalSection {
        background-color: #3b4838;
        width: 100%;
    }

.FronteEndWelcome {
    color: #f8ebd2;
}

.FrontEndTitle {
    font-size: 30vh;
    font-weight: 100;
    font-family: "Kaisei Decol";
    font-style: italic;
    color: #f8d7ae;
}


.AboutMeSection {
    width: 100%;
}

.AboutMeTitle, .MeTitle {
    font-family: "Serif";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 30vh;

}

.MeTextContainer, .MeTextContainerMobile {
    background-color: #3b4838;
    color: #f3e6d8;
    padding: 7vh;
    width: 38vw;
    border-bottom-left-radius: 15vh;
    border-top-right-radius: 15vh;
     margin-bottom: 10vh;
}

.MeText {
    font-size: 2.5vh;
}


.FontKaisei {
    font-family: "Kaisei Decol";
}

.FontEmbed {
    font-family: "Radio Canada Big", sans-serif;
}


.WhyMeTitle {
    font-size: 22vh;
    color: #3b4838;
    font-family: "Serif";
    font-style: italic;
}

.MyWorkTitle {
    font-size: 22vh;
    color: #f8d7ae;
    font-family: "Serif";
    font-style: italic;

}

.MiniTitleWhyMe {
    font-size: 9vh;
    color: #3b4838;
    font-family: Serif;
    margin-top: 5vh;
}

.paragraphWhyMe {
    font-size: 4vh;
    font-family: "Kaisei Decol";
    color: black;
    margin-top: 2vh;
    will-change: opacity, transform;
    overflow-wrap: break-word !important;
    word-break: keep-all !important;
}



@media (max-width: 1023px) and (min-width: 786px) {
    .HorizontalSection {
        background-color: #3b4838;
        width: 100vw !important;
    }

    .FrontEndTitle {
        font-size: 17vh;
        padding: 2vh;
        width: 100vw;
    }


    .MyWorkTitle{
        font-size: 15vh;
    }

    .WhyMeTitle {
        width: 100vw;
        text-align: center;
        font-size: 12vh;
        display: inline-block;
        white-space: nowrap;
    }


     .AboutMeTitle {
        font-size: 24vh;
    }
     .MeTitle {
        font-size: 24vh !important;
         text-align: center !important;
        font-family: "Serif";
        font-style: italic;
        font-weight: 100;
        color: white;
         margin-top: 10vh;
    }

       .MeTextContainer {
        margin-top: 20vh;
        width: 50%;
        margin-left: 10vw;
    }

    .MeTextContainerMobile {
       margin-top: 20vh;
        width: 60%;
        margin-left: 20vw;
        background-color: #3b4838;
        color: #f3e6d8;
        padding: 5vh;
        border-radius: 5vh;
        margin-bottom: 10vh;


    }


}

@media (max-width: 786px) and (min-width: 601px) {
    .HorizontalSection {
        background-color: #3b4838;
    }

    .FrontEndTitle {
        font-size: 17vh;
        padding: 2vh;
        width: 100vw;
    }

    .MeTextContainer {
        width: 55%;
        margin-left: 10vw;
    }

    .AboutMeTitle {
        font-size: 12vh;
        text-align: start !important;
    }

     .MeTitle {
        margin-top: 30vh !important;
        text-align: center !important;
        font-size: 12vh !important;
        font-family: "Serif";
        font-style: italic;
        font-weight: 100;
        color: white;
    }

    .MeTextContainerMobile {
        height: auto;
        width: 40%;
        background-color: #3b4838;
        color: #f3e6d8;
        padding: 5vh;
         border-bottom-left-radius: 5vh;
    border-top-right-radius: 5vh;

    }


    .MyWorkTitle {
        font-size: 10vh;
        width: 100vw;
        text-align: center;
         padding-top: 5vh;
    }

    .WhyMeTitle {
        width: 100vw;
        text-align: center;
        font-size: 10vh;
        display: inline-block;
        white-space: nowrap;
    }


}

@media (max-width: 600px) {
    .HorizontalSection {
        background-color: #3b4838;
        width: 100vw !important;
    }

    .FrontEndTitle {
        font-size: 8vh !important;
        padding: 2vh;
        text-align: center !important;
        width: 100vw !important;
    }


    .AboutMeTitle {
        font-size: 12vh !important;
        width: 100%;
        text-align: center !important;
        font-family: "Serif";
        font-style: italic;
        font-weight: 100;
        color: white;
    }


    .MeTitle {
        margin-top: 30vh !important;
        text-align: end !important;
        font-size: 12vh !important;
        font-family: "Serif";
        font-style: italic;
        font-weight: 100;
        color: white;
    }


    .MeTextContainer {
        width: 50vw;
        margin-left: 50vw;

    }

    .MeTextContainerMobile {
        background-color: #3b4838;
        color: #f3e6d8;
        padding: 5vh;
        border-radius: 5vh;
          margin-bottom: 10vh;
        width: 50vw;
        margin-left: 50vw;

    }

    .MeText{
        font-size: 2vh;

    }


    .WhyMeTitle, .MyWorkTitle {
        width: 100vw;
        text-align: center;
        font-size: 8vh;
        display: inline-block;
        white-space: nowrap;
    }




}

