.WelcomeLittleText {
    font-size: 5vh;

}

.ImLautaroText {
    font-size: 25vh;
}

.BasedInLittleText{
     font-size: 5vh;
    margin-top: 1vh;
}

.sliderText h3 {
    font-size: 8vh;
    font-weight: bold;
    overflow: hidden;
}



