.WelcomeLittleText {
    font-size: 3vh;
    color: #1a4231;
    font-family: "Jomolhari", serif;
}

.ImLautaroText {
    font-size: 25vh;
      font-family: "Kaisei Decol";
    font-weight: 100;
    font-style: italic;
    color: #1a4231;
}

.BasedInLittleText {
    font-size: 3vh;
    margin-top: 10vh;
    color: #1a4231;
     font-family: "Jomolhari", serif;
}

.LoaderContainer {
    /*background-color: #F1EFEB;*/
    background-color: #f3e6d8;
    overflow-x: hidden !important;

}

.sliderContainer {
    position: absolute;
    top: calc(100vh - 15vh);
    overflow-x: hidden;
}

.slider {
    position: relative;
    white-space: nowrap;
    display: flex;
    overflow-x: hidden;
}

.slider p {
    font-family: "Noto Serif";
    font-weight: 100;
    font-style: italic;
     position: relative;
    color: #1a4231;
    font-size: 7vh;
    overflow-x: hidden;
}

.PinPhone{
    font-family: "Noto Serif";
    font-weight: 100;
    font-style: italic;
    color: #1a4231;
    overflow-x: hidden;
}


@media (max-width: 800px){
    .WelcomeLittleText{
        text-align: center;
    }

    .ImLautaroText{
        font-size: 10vh;
        text-align: center !important;
        margin-top: 10vh;
    }

    .BasedInLittleText{
        text-align: center !important;
    }

    .sliderContainer{
        top: calc(100vh - 20vh);
    }

    .PinPhone{
        font-size: 7vh;
        display: inline;
        text-align: center;

    }
}


